@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  align-self: center;
}
h4 {
  text-align: center;
}
#submitID,
#postButton,
#updateButton {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #bdcee6;
}
table {
  width: 100%;
  table-layout: fixed;
}
th {
  padding: 10px 5px;
  border: 1px solid rgb(0, 0, 0);
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: rgb(255, 0, 0);
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
td {
  padding: 2px;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  border-bottom: solid -1px rgba(255, 255, 255, 0.1);
}
#getAllData,
#getDataById,
#postData {
  display: flex;
  margin: auto;
  width: 15%;
}
