#table {
  border-style: groove;
  border-color: rgb(0, 0, 0);
  border-collapse: collapse;
  box-shadow: #ff0000;
}
#tr {
  border-style: groove;
  border-color: rgb(0, 0, 0);
}
#td,
th {
  border-style: groove;
  border-color: rgb(0, 0, 0);
  height: 41px;
  text-align: center;
}

#main {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
#child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
#getByIDTable {
  border-style: groove;
  border-color: rgb(0, 0, 0);
  border-collapse: collapse;
  box-shadow: #ff0000;
}
